<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>City List</title>
</head> 
<%- include('./partials/head.ejs') %>
<body>
    <h1>List of Cities</h1>
    <%- include('./partials/nav.ejs') %>
    <ul>
        <% cities.forEach(city => { %>
            <li><%= city.name %>, <%= city.population %>
                <a href="/cities/<%=city.city_id%>/edit?name=<%=city.name%>&population=<%=city.population%>">edit</a></li>
                <a href="/cities/<%=city.city_id%>/delete=<%=city.name%>&population=<%=city.population%>">delete</a></li>
        <% }); %>
    </ul>
    

    <form action="/cities" method="POST">
        <input type="text" name="name" placeholder="City Name">
        <input type="text" name="population" placeholder="City Population">
        <button type="submit">Add City</button>
    </form>
</body>
<%- include('./partials/foot.ejs') %>
</html>
