<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="create content">
            <form action="/cities/<%= locals.theId %>?_method=PATCH" method="POST">
                <label>Edit city:</br>
                    <input type="text" name="name" value="<%= locals.name %>" required>
                    <input type="text" name="population" value="<%= locals.population %>" required>
                </label></br>
                <button>PATCH</button>
            </form>
        </div>
    </body>
 
</html>